

.card-body {
    background-color: #0e0e23;
    border: 1px solid rgba(255, 255, 255, 0.12);
  }
  .howto_video_popup.active {
    display: block;
    position: absolute;
    z-index: 10;
    left:49%;
    top: -36%;
    // // top: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    padding: 48px 35px 35px 35px;
    width: 545px;
    max-width: 100%;
    background: #5A4BCC;
    border-radius: 5px;
    box-shadow: 0px 0px 35px #00000021;
}
.custom-card {
  margin-bottom: 20px;
  border: 0;
  // box-shadow: -7.829px 11.607px 20px 0px #e4e3f5;
}
.card {
  // border-radius:px;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #ffffff;
  background-clip: border-box;
  border: 1px solid #e8e8f7;
}
.dropdown-content-qr {
  display: none;
  position: absolute;
  left: 10px;
	
  /* background-color: #f9f9f9; */
  background-image: -webkit-linear-gradient(
90deg, #c165dd 0%, #5c27fe 100%);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  color: #ffffff;  
}


.dropdown-content-qr {
  display: none;
  position: absolute;
  left: 10px;
	
  /* background-color: #f9f9f9; */
  background-image: -webkit-linear-gradient(
90deg, #c165dd 0%, #5c27fe 100%);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  color: #ffffff;
  }
  
  
  .mobile-view {
    width: 23% !important;
    float: left !important;
	
	
}
.dropdown-content-qr {
  display: none;
  position: absolute;
  left: 10px;
	
  /* background-color: #f9f9f9; */
  background-image: -webkit-linear-gradient(
90deg, #c165dd 0%, #5c27fe 100%);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  color: #ffffff;
  }
  
  
  .mobile-view {
    width: 23% !important;
    float: left !important;
	
	
}
.code{
	width: 100%;
    min-height: 30px;
    line-height: 10px;
   background-color: transparent; 
	color: #ffffff;
	border:none;
	border-bottom:1px solid #766bcb;
	margin-top: -10px;
}
.dropdown-content-qr {
  display: none;
  position: absolute;
  left: 10px;
	
  /* background-color: #f9f9f9; */
  background-image: -webkit-linear-gradient(
90deg, #c165dd 0%, #5c27fe 100%);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  color: #ffffff;
  }
  
  
  .mobile-view {
    width: 23% !important;
    float: left !important;
	
	
}
.code{
	width: 100%;
    min-height: 30px;
    line-height: 10px;
   background-color: transparent; 
	color: #ffffff;
	border:none;
	border-bottom:1px solid #766bcb;
	margin-top: -10px;
}


.h1, h2, h3, h4, h5, h6 {
  font-family: "Josefin Sans", sans-serif;
  color: #ffffff;
  font-weight: 600;
  margin: 0;
  line-height: 1.3;
}
.h5, h5 {
  font-size: 1.25rem;
}
.body{
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
  padding: 0;
  margin: 0;
  font-weight: 400;
  position: relative;
  // background-color: #0f0232;
}