 <!-- inner-hero-section start -->
 <div class="inner-hero-section style--five">
</div>
<!-- inner-hero-section end -->

 <!-- user section start -->
<div class="mt-minus-150 pb-120">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="user-card">
          <div class="avatar-upload">
            <div class="obj-el"><img src="assets/images/elements/team-obj.png" alt="image"></div>
            <div class="avatar-edit">
                <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg" />
                <label for="imageUpload"></label>
            </div>
            <div class="avatar-preview">
                <div id="imagePreview" style="background-image: url(assets/images/elements/downloaded/pp.png);">
                </div>
            </div>
          </div>
          <h3 class="user-card__name">Albert Owens</h3>
          <span class="user-card__id">ID : 19535909</span>
        </div><!-- user-card end -->
        <div class="user-action-card">
         <ul class="user-action-list">

            
                            <li><a routerLink="/user-Draw/myticket">My Tickets <span class="badge">04</span></a></li>
            <li><a href=""routerLink="/user-setting/accountsecurity">Account Security</a></li>
            <li  ><a href=""routerLink="/user-setting/accountactivity">Account Activity</a></li>

             <li ><a href=""routerLink="/user-Draw/wallet">Wallet</a></li>
                            <li class="active" ><a routerLink="/user-Draw/trans">Transactions</a></li>
            <!-- <li><a href="#">Referral Program</a></li> -->
            <!-- <li><a href="#">Favorite Lotteries</a></li> -->
            <!-- <li><a href="#">Help Center</a></li> -->
            <!-- <li><a href="#">Log Out</a></li> -->
          </ul>
        </div><!-- user-action-card end -->
      </div>
      <div class="col-lg-8">
        <br class="d-sm-block d-md-none"/>
              <div class="all-transaction">
                <div class="all-transaction__header">
                  <h3 class="title">All Transactions</h3>
                  <!-- <div class="col-md-3">
                    <h2>Status</h2>
                    <select class="dropdownform"[(ngModel)]="searchText" >
                      <option  > All </option>
                      <option *ngFor="let sat of status" >{{sat}}</option>
              </select>
                    </div> -->
                
                  <!-- <select class="dropdownform">
                    <option>1 day</option>
                    <option>7 days</option>
                    <option>1 month</option>
                    <option>3 months</option>
                  </select> -->
                  <!-- <select class="dropdownform" formControlName="status">
                  <option>Status</option>
                  <option *ngFor="let sat of status">{{sat}}</option>
              </select> -->
                  <!-- <div class="dropdownform">

                    <ng-select [items]="status" 
          
           [(ngModel)]="gen">
</ng-select>
                    <ng-select [items]="status" placeholder="Select"
                    class="js-example-placeholder-multiple" [(ngModel)]="gen"></ng-select> -->
                    <!-- <input type="text" data-range="true" data-multiple-dates-separator=" - " data-language="en" class="datepicker-here form-control" data-position='top left' placeholder="min - max date">
                    <i class="las la-calendar-alt"></i> 
                  </div> -->
                </div>
                  <div class="row row-sm  mt-lg-4">
                    <div class="col-sm-12 col-lg-12 col-xl-12">
                        <div class="card bg-primary custom-card card-box">
                            <div class="card-body p-4" style="background-color: #5A4BCC;">
                                <!-- <label>User Name</label>
                                <input type="text"  [(ngModel)]="username" (ngModelChange)="searchpayment()"class="form-control" placeholder="Enter the User Name" /> -->
                                <!-- <div class="row align-items-center"> -->
                                 <form [formGroup]="loginForm" (ngSubmit)="depositsort()" novalidate>
                 
                                     <div class="row">
                                         <div class="col-lg-4 col-md-4 col-sm-4">
                                           
                                             <div class="form-group text-left">
                                                 <label> Status</label>
                                                 <!-- <select class="select form-control" formControlName="status">
                                              <option *ngFor="let sat of status">{{sat}}</option>
                                          </select>   -->
                                          <ng-select class="select form-control" [items]="status" placeholder="Select"
                                          class="js-example-placeholder-multiple" [(ngModel)]="gen"></ng-select>                                            
                                         </div>
                                       </div>
                                       <div class="col-lg-4 col-md-4 col-sm-4">
                                           
                                         
                                   </div>
                                  </div>
                                  
                                         <div class="col-lg-12 col-md-12 col-sm-12">
                                          <button type="submit"class="btn btn-primary">Get</button>

                                         </div>
                                       
                                        </form>
                                        
                                     
                                     <!-- <div class="col-sm-12 text-right m-t-20">
                                         <label>&nbsp;</label>
                                         <button type="submit"class="btn btn-primary" style="width: 8%;">Get</button>
                                     </div> -->
                             </div> 
                            <!-- </div> -->
                        </div>
                    </div>
                 </div>
                
                
          <div class="container my-5">
            <div class="row justify-content-center">
                <div class="col-md-4 my-2">
                 <a href="#"routerLink= "/user-Draw/trans" class="cmn-btn btn--sm">Withdrawals</a>
                      </div>
                <div class="col-md-4 my-2">
                  <a href="#"routerLink="/user-control/deposithistory" class="cmn-btn btn--sm" data-target="#Deposit">Deposits</a>
                </div>
                <div class="col-md-4 my-2">
                  <a href="#"routerLink="/user-control/lotteryhistory" class="cmn-btn btn--sm">Lottery Purchase</a>
                </div>
                </div>
          </div>
          <div class="tab-pane fade show active" id="loginactivity" role="tabpanel" aria-labelledby="loginactivity-tab">
               
            <div class="past-draw-wrapper pt-1">
               <div class="table-responsive-lg">
                <table>
                    <thead>
                      <tr>
                        <!-- <th ><span> User Name</span></th> -->
                            <th ><span>Coin Name</span></th>
                               <th ><span>Symbol</span></th>
                               <th ><span>Status</span></th>
                               <th ><span>Amount</span></th>
                               <th >Price Received</th>
    
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of data |filter:searchText | paginate:{
                        itemsPerPage:5,
                         currentPage:p,
                         item:item,
                        totalitem:totalLength }">
                        <td><div class="text-white"> {{item['coinname']}}</div></td>
                        <td><div class="text-white"> {{item['symbol']}}</div></td>
                        <td>
                            <span *ngIf="item['status'] === 0"
                            [class]="item['status'] === 0 ? 'text-danger':''">
                            {{item['status'] === 0 ? 'Inactive':item['status']}}</span>
                            <span *ngIf="item['status'] === 1"
                            [class]="item['status'] ===1  ? 'text-success' : ''">
                            {{item['status'] === 1 ? 'Active':item['status']}}</span>             
                            <span *ngIf="item['status'] === 2"
                            [class]="item['status'] === 2 ? 'text-warning' : ''">
                            {{item['status'] === 2 ? 'Pending':item['status']}}</span>       
                          </td>
                        <!-- <td><div class="text-white">{{item['type']}}</div></td> -->
                        <!-- <td><div class="text-white"> {{item['location']}}</div></td> -->
                        <td>
                         <div class="text-green"> {{item['amount']}}</div>
                        </td>
                       
                        <td><div class="text-white" style="text-align: center;">{{item['price_received']}}</div></td>
    
                      </tr>
                       <tr>
                      
                      </tbody>
                  </table>
        <div class="center" *ngIf="!showDatafound">
            <span>NO DATA FOUND </span>
          </div>
          <pagination-controls class="pagination mt-4 mb-0 float-right page-item" (pageChange)="p = $event"   item:item></pagination-controls>

      </div>

     
    <br>
     
    </div>
    
   
    
    
    
    <!-- past-draw-wrapper end -->
  
        
    
     </div>
                <!-- <div class="table-responsive-xl">
                  <table>
                    <thead>
                      <tr>
                        <th>Date</th>
                        <th>Description</th>
                        <th>Amount</th>
                        <th>Status</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          <div class="date">
                            <span>16</span>
                            <span>APR</span>
                          </div>
                        </td>
                        <td>
                          <p>Deposit</p>
                          <span>Withdraw to Bank account</span>
                        </td>
                       
                        <td>
                          <span class="amount minus-amount">- $562 (USD)</span>
                        </td>
                        <td>
                          <div class="status-pending"><i class="fas fa-ellipsis-h"></i></div>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <div class="date">
                            <span>16</span>
                            <span>APR</span>
                          </div>
                        </td>
                        <td>
                          <p>lottery purchase</p>
                          <span>Contest No: D87T</span>
                        </td>
                       
                        <td>
                          <span class="amount minus-amount">-$758.00 (USD)</span>
                        </td>
                        <td>
                          <div class="status-success"><i class="fas fa-check-circle"></i></div>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <div class="date">
                            <span>16</span>
                            <span>APR</span>
                          </div>
                        </td>
                        <td>
                          <p>lottery purchase</p>
                          <span>Contest No: D87T</span>
                        </td>
                     
                        <td>
                          <span class="amount minus-amount">-$758.00 (USD)</span>
                        </td>
                        <td>
                          <div class="status-success"><i class="fas fa-check-circle"></i></div>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <div class="date">
                            <span>16</span>
                            <span>APR</span>
                          </div>
                        </td>
                        <td>
                          <p>Deposit</p>
                          <span>Bank account to Rifa Account</span>
                        </td>
                        
                        <td>
                          <span class="amount plus-amount">-$758.00 (USD)</span>
                        </td>
                        <td>
                          <div class="status-success"><i class="fas fa-check-circle"></i></div>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <div class="date">
                            <span>16</span>
                            <span>APR</span>
                          </div>
                        </td>
                        <td>
                          <p>lottery purchase</p>
                          <span>Contest No: D87T</span>
                        </td>
                        
                        <td>
                          <span class="amount minus-amount">-$758.00 (USD)</span>
                        </td>
                        <td>
                          <div class="status-success"><i class="fas fa-check-circle"></i></div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="center" *ngIf="!showDatafound">
                    <span>NO DATA FOUND </span>
                  </div>
                <pagination-controls class="pagination mt-4 mb-0 float-right page-item" (pageChange)="p = $event"   item:item></pagination-controls> -->
              </div>
            </div>
          </div>
        </div>
      </div>