.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 22%;
  }
  .text-danger {
    color: #f16d75 !important;
  }
  .text-warning {
    color: #ff9b21 !important;
}
.text-success {
    color: #19b159 !important;
}