.lottery-package-list-small {
    text-align: center;
    margin: -10px -15px;
}
.lottery-package-list-small a {
    padding: 7px 7px;
    background-image: -moz-linear-gradient(0deg, #e9388e 0%, #b9217a 43%, #880965 100%);
    background-image: -webkit-linear-gradient(
0deg, #e9388e 0%, #b9217a 43%, #880965 100%);
    background-image: -ms-linear-gradient(0deg, #e9388e 0%, #b9217a 43%, #880965 100%);
    color: #ffffff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin: 5px 7px 20px 7px;
}
.a {
    text-decoration: none;
    display: inline-block;
    font-family: "Josefin Sans", sans-serif;
    color: #ffffff;
}
.h1, h2, h3, h4, h5, h6 {
    font-family: "Josefin Sans", sans-serif;
    color: #ffffff;
    font-weight: 600;
    margin: 0;
    line-height: 1.3;
}
.h5, h5 {
    font-size: 1.25rem;
}
.body{
    font-family: "Josefin Sans", sans-serif;
    font-size: 18px;
    padding: 0;
    margin: 0;
    font-weight: 400;
    position: relative;
    // background-color: #0f0232;
}