
    
	  <!-- inner-hero-section start -->
    
    
    <!-- inner-hero-section end -->
    <div class="inner-hero-section style--five">
      <h2 style="text-align: center;
      font-size: 68px;">Never miss a draw!</h2>
      <br>
 <p style="text-align: center;
 font-size: 20px;">Easy way to buy tickets and win your lotteries</p>
 <br>
 <p style="text-align: center;
 font-size: 20px;">many others anytime, anywhere</p>
    </div>
	  <!-- winner details section start -->
    <div class="col-lg-8 mt-lg-0 mt-4">

      <div class="upcoming-draw-wrapper">
        <h3 class="title">Last Draw Result</h3>
        <div class="winner-card mb-30">
          <div class="winner-card__thumb justify-content-center">
             <img src="assets/images/elements/winnercoin.png" alt="image">
          </div>
          <div class="winner-card__content">
            <div class="content-bottom borderbottom">
            <div class="number-list-wrapper " >
               <div class="left" >
                <h2>{{name}}</h2>
              </div>
              <div>
                <ul class="number-list mt-2 "*ngFor="let values of myArray" >
                  <li>{{values}}</li>
                  <!-- <li>{{values}}</li>
                  <li>{{values}}</li>
                  <li>{{values}}</li>
                  <li>{{values}}</li>
                  <li>{{values}}</li> -->
                </ul><!-- number-list end -->
              </div>
            </div>
              <div class="right">
                <span>Draw took place on</span>
                <p>{{time| date :'short'}}</p>
              </div>
            </div>
            <!-- <div class="winner-thumb"><img src="assets/images/elements/downloaded/winner1.png" alt="image"></div> -->

            <button type="button" class="winner-thumb cus" ngbPopover=" ServerSeed: serverseed1412draw3" ><img src="../../../../assets/i.png" alt="image"> </button>
         <div class="content-bottom row mt-3">
                <div class="col-md-3 justify-content-center p-0 m-0">
                    <p>Number of Tickets</p>
                    <ul class="number-list" >  
                        <li style="height:60px;width:60px; padding-top:15px">{{count}}</li>
                    </ul>
                </div>
                <div class="col-md-3 justify-content-center">
                <p > Winning price</p>
                 <div class="pick-lottery-package">
                     <div class="lottery-package-list-small mt-3">
                        <a href="#0"> ${{win}}</a>
                    </div>
                </div>
                </div>
                <div class="col-md-3 justify-content-center">
                <p class="ml-3"> Total Prize</p>
                 <div class="pick-lottery-package">
                                 <div class="lottery-package-list-small mt-3">
                            <a href="#0">${{price}}</a>
                           
                    </div>
                </div>
                </div>
                <div class="col-md-3 justify-content-center">
                <p></p>
                <div class="pick-lottery-package">
                    <div class="lottery-package-list-small">
                        <span class="lottery-package-list-small-org mt-5 pt-2"><a href="#0" routerLink="//user-Draw/drawres">Draw Details</a></span>
                       </div>
                </div>
                </div>
            
                                    
            </div>
          </div>
        </div>

        <!-- draw-ticket-slider end -->
      </div>
      <div class="past-draw-wrapper mt-4">
        <h3 class="title">Upcoming Draw</h3>
        <div class="table-responsive-lg">
          <table>
            <thead>
              <tr>
                
                  <th >Draw Name</th>
                  <!-- <th ></th> -->
                  <th >Serverseed</th>
                  <!-- <th >Location</th> -->
                  <th >Name</th>
                  <th >winning price</th>
                  <th >Draw Ends</th>

                  <th >Buy now</th>
                  <th >My Ticket</th>

              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of data | paginate:{
                itemsPerPage:5,
                 currentPage:p,
                 item:item,
                totalitem:totalLength }">
                <td><div class="text-white">{{item['name']}}</div></td>

                <td><div class="text-white">{{item['server_seed'] == "" ? 'NA':item['server_seed']  }}</div></td>
                <!-- <td><div class="text-white"> {{item['location']}}</div></td> -->
                <td>
                 <div class="text-green"> {{item['name']}}</div>
                </td>
                <td><div class="text-white"> {{item['winning_price']}}</div></td>
                <td>
                    <!-- <i class="las la-clock"> -->
                    <div class="clock2" data-clock="2020/08/12">{{days}}d {{hours}}h {{minutes}}m {{seconds}}s</div>
                </td>
                <td>  <div class="lottery-package-list-small">
                  <!-- <a href=""routerLink="user-Draw/buynow" class="cmn-btn btn--sm">Buy now</a> -->
                  <button (click)="gototick(item['_id'])"class="cmn-btn btn--sm">Buynow</button>
                  <!-- <a href="#"(click)="gototick(item[_id])" class="ml-3">Buynow</a> -->
</div>
              </td>
              <td>
                <div class="lottery-package-list-small">
                <a href=""routerLink="/user-Draw/myticket" class="ml-3">Myticket</a>
</div>
              </td>
           

              </tr>
     <tr>
              
    </tbody>
          </table>
        </div>
        <div class="center" *ngIf="!showDatafound">
          <span>NO DATA FOUND </span>
        </div>
      <pagination-controls class="pagination mt-4 mb-0 float-right page-item" (pageChange)="p = $event"   item:item></pagination-controls>
        <div class="load-more">
          <!-- <button type="button">Show More Lotteries <i class="las la-angle-down ml-2"></i></button> -->
        </div>
      </div>
      </div>