<div class="inner-hero-section style--two">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <ul class="page-list">
            <li><a href="index.html">Home</a></li>
             <li class="active">Buy tickets</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- inner-hero-section end -->

  <!-- lottery-details start -->
  <section class="pb-120 mt-minus-50">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
        <div class="lottery-wrapper">
            <h2 class="lottery-wrapper__title mb-5">Choose your Tickets</h2>
          <div class="lottery-wrapper style--two">
            <div class="action-header">
              <div class="left mt-5">
                <div class="quantity">Quantity
                    <div class="form-group-quantity">
    
      <div class="input-group">
          <div class="input-group-btn">
              <button id="down" class="btn btn-default"(click)="bagCountdec()"><i class="las la-minus mt-1" style="color:#ffffff;background-color:#5a4bcc;; border-radius:50%;padding:5px;"></i></button>
             
          </div>
          <input type="text"  #bagCount class="form-control input-number" value="14" />
          <div class="input-group-btn">
              <button id="up" class="btn btn-default" (click)="bagCountInc()"><i class="las la-plus mt-1" style="color:#ffffff;background-color:#5a4bcc;; border-radius:50%;padding:5px;"></i></button>
          </div>
      </div>
  </div>
        </div>   
              </div>
              <div class="right">
                <ul>
                  <li>
                    <i class="las la-clock"></i>
                    <div class="clock2" data-clock="2020/08/12">00d 00h 00m 00s</div>
                  </li>
                  <li>
                    <button type="button">
                      <i class="las la-trash"></i>
                      <span>Erase All</span>
                    </button>
                  </li>
                  <li>
                    <button type="button">
                      <i class="las la-table"></i>
                      <span>Quick Pick All</span>
                    </button>
                  </li>
                </ul>
              </div>
            </div>
            <div class="row mt-50 mb-none-30">
            <div class="col-lg-4 mb-30">
                <div class="lottery-single style--two">
                  <button class="lottery-single__close"><i class="las la-times"></i></button>
                  <div class="lottery-single__header">
                    <div class="top">
                      <span class="titcket-number">Ticket #1</span>
                      <ul>
                        <li>
                          <button>
                            <i class="las la-table"></i>
                            <span>Quick Pick</span>
                          </button>
                        </li>
                        <li>
                          <button><i class="las la-trash"></i> </button>
                        </li>
                      </ul>
                    </div>
                    <ul class="lottery-single__selected-number justify-content-center">
                      <li>00</li>
                      <li>00</li>
                      <li>00</li>
                      <li>00</li>
                      <li>00</li>
                      <li>00</li>
                      
                    </ul>
                  </div><!-- lottery-single__header end -->
                  <div class="lottery-single__body">
                     <ul class="lottery-single__number">
                      <li>1</li>
                      <li>2</li>
                      <li>3</li>
                      <li>4</li>
                      <li>5</li>
                      <li>6</li>
                      <li>7</li>
                      <li>8</li>
                      <li>9</li>
                      <li>10</li>
                      <li>11</li>
                      <li>12</li>
                      <li>13</li>
                      <li>14</li>
                      <li>15</li>
                      <li>16</li>
                      <li>17</li>
                      <li>18</li>
                      <li>19</li>
                      <li>20</li>
                      <li>21</li>
                      <li>22</li>
                      <li>23</li>
                      <li>24</li>
                      <li>25</li>
                      <li>26</li>
                      <li>27</li>
                      <li>28</li>
                      <li>29</li>
                      <li>30</li>
                      <li>31</li>
                      <li>32</li>
                      <li>33</li>
                      <li>34</li>
                      <li>35</li>
                      <li>36</li>
                      <li>37</li>
                      <li>38</li>
                      <li>39</li>
                      <li>40</li>
                      <li>41</li>
                      <li>42</li>
                      <li>43</li>
                      <li>44</li>
                      <li>45</li>
                      <li>46</li>
                      <li>47</li>
                      <li>48</li>
                      <li>49</li>
                     
                    </ul>
                  </div><!-- lottery-single__body end -->
                  <div class="lottery-single__footer">
                    <ul class="lottery-single__number justify-content-center">
                      <li>1</li>
                      <li>2</li>
                      <li>3</li>
                      <li>4</li>
                      <li>5</li>
                      <li>6</li>
                     
                    </ul>
                  </div><!-- lottery-single__footer end -->
                </div><!-- lottery-single end -->
              </div>
           
             
             <div class="col-lg-4 mb-30">
                <div class="lottery-single style--two">
                  <button class="lottery-single__close"><i class="las la-times"></i></button>
                  <div class="lottery-single__header">
                    <div class="top">
                      <span class="titcket-number">Ticket #2</span>
                      <ul>
                        <li>
                          <button>
                            <i class="las la-table"></i>
                            <span>Quick Pick</span>
                          </button>
                        </li>
                        <li>
                          <button><i class="las la-trash"></i> </button>
                        </li>
                      </ul>
                    </div>
                    <ul class="lottery-single__selected-number justify-content-center">
                      <li>00</li>
                      <li>00</li>
                      <li>00</li>
                      <li>00</li>
                      <li>00</li>
                      <li>00</li>
                     
                    </ul>
                  </div><!-- lottery-single__header end -->
                  <div class="lottery-single__body">
                     <ul class="lottery-single__number">
                      <li>1</li>
                      <li>2</li>
                      <li>3</li>
                      <li>4</li>
                      <li>5</li>
                      <li class="active">6</li>
                      <li>7</li>
                      <li>8</li>
                      <li>9</li>
                      <li>10</li>
                      <li>11</li>
                      <li>12</li>
                      <li>13</li>
                      <li>14</li>
                      <li>15</li>
                      <li>16</li>
                      <li class="active">17</li>
                      <li>18</li>
                      <li>19</li>
                      <li>20</li>
                      <li>21</li>
                      <li class="active">22</li>
                      <li>23</li>
                      <li class="active">24</li>
                      <li>25</li>
                      <li>26</li>
                      <li>27</li>
                      <li>28</li>
                      <li>29</li>
                      <li>30</li>
                      <li>31</li>
                      <li>32</li>
                      <li>33</li>
                      <li>34</li>
                      <li>35</li>
                      <li>36</li>
                      <li>37</li>
                      <li>38</li>
                      <li>39</li>
                      <li>40</li>
                      <li>41</li>
                      <li class="active">42</li>
                      <li>43</li>
                      <li>44</li>
                      <li>45</li>
                      <li>46</li>
                      <li>47</li>
                      <li>48</li>
                      <li class="active">49</li>
                 
                    </ul>
                  </div><!-- lottery-single__body end -->
                  <div class="lottery-single__footer">
                    <ul class="lottery-single__number justify-content-center">
                      <li>1</li>
                      <li>2</li>
                      <li>3</li>
                      <li>4</li>
                      <li>5</li>
                      <li>6</li>
                     
                    </ul>
                  </div><!-- lottery-single__footer end -->
                </div><!-- lottery-single end -->
              </div>
              <div class="col-lg-4 mb-30">
                <div class="lottery-single style--two">
                  <button class="lottery-single__close"><i class="las la-times"></i></button>
                  <div class="lottery-single__header">
                    <div class="top">
                      <span class="titcket-number">Ticket #3</span>
                      <ul>
                        <li>
                          <button>
                            <i class="las la-table"></i>
                            <span>Quick Pick</span>
                          </button>
                        </li>
                        <li>
                          <button><i class="las la-trash"></i> </button>
                        </li>
                      </ul>
                    </div>
                    <ul class="lottery-single__selected-number justify-content-center">
                      <li>00</li>
                      <li>00</li>
                      <li>00</li>
                      <li>00</li>
                      <li>00</li>
                      <li>00</li>
                     
                    </ul>
                  </div><!-- lottery-single__header end -->
                  <div class="lottery-single__body">
                     <ul class="lottery-single__number">
                      <li>1</li>
                      <li>2</li>
                      <li>3</li>
                      <li>4</li>
                      <li>5</li>
                      <li>6</li>
                      <li>7</li>
                      <li>8</li>
                      <li>9</li>
                      <li>10</li>
                      <li>11</li>
                      <li>12</li>
                      <li>13</li>
                      <li>14</li>
                      <li>15</li>
                      <li>16</li>
                      <li>17</li>
                      <li>18</li>
                      <li>19</li>
                      <li>20</li>
                      <li>21</li>
                      <li>22</li>
                      <li>23</li>
                      <li>24</li>
                      <li>25</li>
                      <li>26</li>
                      <li>27</li>
                      <li>28</li>
                      <li>29</li>
                      <li>30</li>
                      <li>31</li>
                      <li>32</li>
                      <li>33</li>
                      <li>34</li>
                      <li>35</li>
                      <li>36</li>
                      <li>37</li>
                      <li>38</li>
                      <li>39</li>
                      <li>40</li>
                      <li>41</li>
                      <li>42</li>
                      <li>43</li>
                      <li>44</li>
                      <li>45</li>
                      <li>46</li>
                      <li>47</li>
                      <li>48</li>
                      <li>49</li>
                     
                    </ul>
                  </div><!-- lottery-single__body end -->
                  <div class="lottery-single__footer">
                    <ul class="lottery-single__number justify-content-center">
                      <li>1</li>
                      <li>2</li>
                      <li>3</li>
                      <li>4</li>
                      <li>5</li>
                      <li>6</li>
                    
                    </ul>
                  </div><!-- lottery-single__footer end -->
                </div><!-- lottery-single end -->
              </div>
           
           </div>
            <div class="lottery-wrapper__btn">
              <a href="#0" class="btn-border text-white">Add Tickets</a>
            </div>
          </div>
          </div>
        </div>
        <div class="col-lg-12 mt-50">
          <div class="buy-lottery-ticket">
            <div class="left">
              <div class="sub-total-price">
                <p>Ticket Price (3 tickets X $ 4.99)</p>
                <span>$14.97</span>
              </div>
              <div class="total-price">
                <p>Ticket Price (3 tickets X $ 4.99)</p>
                <span>$14.97</span>
              </div>
            </div>
            <div class="right"><a href="mycart.html" class="cmn-btn">Checkout</a></div>
          </div>
        </div><!-- col-lg-12 -->
        <div class="col-lg-12 pt-120">
          <div class="pick-lottery-package">
            <h2 class="title">Choose a Quick Pick</h2>
            <div class="lottery-package-list">
              <a href="#0">3 Quick Picks For $14.97</a>
              <a href="#0">5 Quick Picks For $24.95</a>
              <a href="#0">10 Quick Picks For $49.90</a>
              <a href="#0">20 Quick Picks For $99.80</a>
            </div>
          </div>
        </div><!-- col-lg-12 -->
      </div>
    </div>
  </section>