.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  .errors{
      color: red;
  }
  .mat-icon {
    background-repeat: no-repeat;
    display: inline-block;
    fill: currentColor;
    height: 24px;
    width: 24px;
    color: whitesmoke;
    /* padding-right: 45px; */
    border-bottom: 1px solid #766bcb;
    margin-top: 1px;
    // border-color: #c0464d !important;
   
  }