
	  <!-- inner-hero-section start -->
    <section class="inner-hero-section-plain pb-120">
      <!-- <div class="bg-shape"><img src="assets/images/elements/inner-hero-shape-2.png" alt="image"></div> -->
      <!-- <div class="container"> -->
        <!-- <div class="row justify-content-center"> -->
          <!-- <div class="col-lg-8"> -->
            <!-- <div class="inner-page-content"> -->
              <!-- <h2 class="title">History</h2> -->
             
            <!-- </div> -->
          <!-- </div> -->
        <!-- </div> -->
      <!-- </div> -->
    </section>
    <!-- inner-hero-section end -->
	
	 
	
  <!-- how to play section start -->
    <section class="position-relative">
      <div class="play-elements pt-120">
        <img src="assets/images/elements/playbitconia.png" alt="image">
      </div>
      <div class="container pt-120">
        <div class="row pt-120">
          <div class="col-lg-6 text-sm-left text-center">
            <div class="section-header">
              <span class="section-sub-title">Need to know about</span>
              <h2 class="section-title">How To Play</h2>
              <p>Follow these 3 easy steps! </p>
            </div>
          </div>
        </div>
        <div class="row justify-content-xl-start justify-content-center">
          <div class="col-xl-3 col-lg-4 col-sm-6 mb-30">
            <div class="play-card bg_img" data-background="assets/images/elements/card-bg-1.jpg">
              <div class="play-card__icon">
                <img src="assets/images/icon/play/1.png" alt="image-icon">
                <span class="play-card__number">01</span>
              </div>
              <div class="play-card__content">
                <h3 class="play-card__title">Choose</h3>
                <p>Register to Bitconia & Choose your contest</p>
				<a href=""routerLink="/howtoplaydetails" class="cmn-btn btn--mini">Details</a>
              </div>
            </div><!-- play-card end -->
          </div>
          <div class="col-xl-3 col-lg-4 col-sm-6 mb-30">
            <div class="play-card bg_img" data-background="assets/images/elements/card-bg-2.jpg">
              <div class="play-card__icon">
                <img src="assets/images/icon/play/2.png" alt="image-icon">
                <span class="play-card__number">02</span>
              </div>
              <div class="play-card__content">
                <h3 class="play-card__title">buy</h3>
                <p>Pick Your Numbers & Complete your Purchase</p>
				<a href=""routerLink="/howtoplaydetails" class="cmn-btn btn--mini">Details</a>
              </div>
            </div><!-- play-card end -->
          </div>
          <div class="col-xl-3 col-lg-4 col-sm-6 mb-30">
            <div class="play-card bg_img" data-background="assets/images/elements/card-bg-3.jpg">
              <div class="play-card__icon">
                <img src="assets/images/icon/play/3.png" alt="image-icon">
                <span class="play-card__number">03</span>
              </div>
              <div class="play-card__content">
                <h3 class="play-card__title">Win</h3>
                <p>Start Dreaming, you're almost there</p>
				<a href=""routerLink="/howtoplaydetails" class="cmn-btn btn--mini">Details</a>
              </div>
            </div><!-- play-card end -->
          </div>
        </div>
      </div>
    </section>
    <!-- how to play section end -->

    <!-- buy ticket section start -->
    <section class="buy-ticket-section">
      <div class="winner-obj"><img src="assets/images/elements/trianglecoin.png" alt="image"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-7 text-lg-left text-center">
            <div class="section-header">
              <span class="section-sub-title">Dream Big Play Small</span>
              <h2 class="section-title font-weight-bold">Will you be the next Winner?</h2>
              <p>Playing the lottery is something many of us do to bring a bit of excitement to our day-to-day routine.</p>
            </div>
            <div class="buy-btn-wrapper">
              <span>Don't miss out! Next draw</span>
              <img src="assets/images/elements/arrow.png" alt="image" class="arrow">
              <a href="" routerLink ="/buynow"class="cmn-btn">buy ticket now!</a>
            </div>
          </div>
        </div>
      
      </div>
    </section>
    <!-- buy ticket section end -->

 <!-- footer section start  -->
  <footer class="footer-section position-relative mt-100">
    <div class="bg-shape--top"><img src="assets/images/elements/round-shape-2.png" alt="image"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-12" style="position:relative; top:0px;">
          <div class="subscribe-area">
           <div class="row align-items-center">
	 
        <div class="col-lg-7">
           <h3 class="white-text mt-3">Download the Bitconia mobile app today</h3>
        </div>
        <div class="col-lg-5">
          <ul class="appbtn" style="flex-wrap:flex;">
            <li class="mx-3"><a href="#"><img src="assets/images/gplay.png" alt="image"></a></li>
            <li class="mx-3"><a href="#"><img src="assets/images/app.png" alt="image"></a></li>
          </ul>
         
        </div>
      </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container pt-120">
      <div class="row pb-5 align-items-center">
        <div class="col-lg-4">
          <!-- <img src="assets/images/logo.png" alt="Bitconia" class="img=fluid"> -->
		   <ul class="social-links justify-content-lg-start">
            <li><a href="#0"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="#0"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#0"><i class="fab fa-linkedin-in"></i></a></li>
			 <li><a href="#0"><i class="fab fa-instagram"></i></a></li>
            <li><a href="#0"><i class="fab fa-youtube"></i></a></li>
            <!-- <li><a href="#0"><i class="fab fa-tiktok"></i></a></li> -->
          </ul>
        </div>
        <div class="col-lg-8">
          <ul class="short-links justify-content-lg-end justify-content-center">
            <li><a href="contactus.html">Contact</a></li>
			<li><a href="customersupport.html">Customer Support</a></li>
            <li><a href="faq.html">FAQ'S</a></li>
            <li><a href="terms.html">Terms of Services</a></li>
            <li><a href="privacy.html">Privacy</a></li>
          </ul>
        </div>
      </div>
      <hr>
      <div class="row py-5 align-items-center">
        <div class="col-lg-6">
          <p class="copy-right-text text-lg-left text-center mb-lg-0 mb-3">Copyright © 2020.All Rights Reserved By <a href="index.html">Bitconia</a></p>
        </div>
        <div class="col-lg-6">
         
        </div>
      </div>
    </div>