<div class="inner-hero-section style--six">
    <!-- <div class="bg-shape"><img src="assets/images/elements/inner-hero-shape.png" alt="image"></div> -->
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <ul class="page-list">
            <li><a href="index.html">Home</a></li>
            <li><a href="#0">Lottery</a></li>
            <li><a href="#0">Contest No: B2T</a></li>
            <li class="active">Pick your Lottery Number</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
<section class="pb-120 mt-minus-300">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="lottery-wrapper">
            <h2 class="lottery-wrapper__title">Choose your Tickets</h2>
            <p>Choose your 7 luckiest numbers by clicking by clicking the numbers inside the circle.</p>
            
           <div class="row mt-50 mb-none-30">
           
           <div class="col-lg-3 mb-30"></div>
           <div class="col-lg-7 mb-30">
            <div class="row">
               <div class="col-md-8 mt-2">
               <h4>Tickets </h4>
               </div>
                <div class="col-md-4 hero__btn my-1">
                     <button class="cmn-btn btn-sm">Quick pick</button>
                 </div>
               </div>
           </div>
           <div class="col-lg-2 mb-30"></div>
           
           </div>
           <div class="row mt-50 mb-none-30">
              <div class="col-lg-4 mb-30"></div>
              <div class="col-lg-4 mb-30">
              
                <div class="lottery-single my-4">
                  <button class="lottery-single__close"><i class="las la-times"></i></button>
                  <div class="lottery-single__header">
                  
                  
                    <span class="titcket-number">Ticket #1</span>
                    <ul class="lottery-single__selected-number">
                      <li class="active">15</li>
                      <li class="active">37</li>
                      <li class="active">10</li>
                      <li class="active">32</li>
                      <li class="active">19</li>
                      <li class="active">10</li>
                      <li class="active">7</li>
                    </ul>
                  </div><!-- lottery-single__header end -->
                  <div class="lottery-single__body">
                    <ul class="lottery-single__number">
                      <li>1</li>
                      <li>2</li>
                      <li>3</li>
                      <li>4</li>
                      <li>5</li>
                      <li>6</li>
                      <li>7</li>
                      <li>8</li>
                      <li>9</li>
                      <li class="active">10</li>
                      <li>11</li>
                      <li>12</li>
                      <li>13</li>
                      <li>14</li>
                      <li class="active">15</li>
                      <li>16</li>
                      <li>17</li>
                      <li>18</li>
                      <li class="active">19</li>
                      <li>20</li>
                      <li>21</li>
                      <li>22</li>
                      <li>23</li>
                      <li>24</li>
                      <li>25</li>
                      <li>26</li>
                      <li>27</li>
                      <li>28</li>
                      <li>29</li>
                      <li>30</li>
                      <li>31</li>
                      <li class="active">32</li>
                      <li>33</li>
                      <li>34</li>
                      <li>35</li>
                      <li>36</li>
                      <li class="active">37</li>
                      <li>38</li>
                      <li>39</li>
                      <li>40</li>
                      <li>41</li>
                      <li>42</li>
                      <li>43</li>
                      <li>44</li>
                      <li>45</li>
                      <li>46</li>
                      <li>47</li>
                      <li>48</li>
                      <li>49</li>
                     
                    </ul>
                  </div><!-- lottery-single__body end -->
                  <div class="hero__btn lottery-single__footer row justify-content-center">
                   <button class="cmn-btn btn-sm">Quick pick</button>
                  </div><!-- lottery-single__footer end -->
                </div><!-- lottery-single end -->
              </div>
              <div class="col-lg-4 mb-30">
                
           </div>
            </div>
            <div class="lottery-wrapper__btn">
              <a href="#0" class="btn-border text-white">Add Tickets</a>
            </div>
          </div><!-- lottery-wrapper end -->
        </div><!-- col-lg-12 -->
        <div class="col-lg-12 mt-50">
          <div class="buy-lottery-ticket">
            <div class="left">
              <div class="sub-total-price">
                <p>Ticket Price (3 tickets X $ 4.99)</p>
                <span>$14.97</span>
              </div>
              <div class="total-price">
                <p>Ticket Price (3 tickets X $ 4.99)</p>
                <span>$14.97</span>
              </div>
            </div>
            <div class="right"><a href="#0" class="cmn-btn">buy tickets</a></div>
          </div>
        </div><!-- col-lg-12 -->
        <div class="col-lg-12 pt-120">
          <div class="pick-lottery-package">
            <h2 class="title">Choose a Quick Pick</h2>
            <div class="lottery-package-list">
              <a href="#0">3 Quick Picks For $14.97</a>
              <a href="#0">5 Quick Picks For $24.95</a>
              <a href="#0">10 Quick Picks For $49.90</a>
              <a href="#0">20 Quick Picks For $99.80</a>
            </div>
          </div>
        </div><!-- col-lg-12 -->
      </div>
    </div>
  </section>
  <!-- lottery-details end -->